html, body, section{
    background-color: #FEF8E7;
}

.content-page {
    min-height: 1000px;
}

.bg-blue, footer{
    background-color: #8FB8F4;
}

.headline{
    background-color: #92C3A2;
}


img {
    object-fit: cover;
}

.card img {
    height: 150px;
}