@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");

body {
    font-family: 'Nunito', sans-serif !important;
    font-weight: 400;
}

section {
    padding: 50px 0 50px 0;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
  }