main{
    margin-top: 100px;
}

.content-page {
    min-height: 400px;
}

img {
    object-fit: cover;
}

.card img {
    height: 400px;
}

.view-show{
    visibility: visible;
    display: block;
}

.view-hide{
    visibility: hidden;
    display: none;
}