section {
    padding: 10px 0 10px 0;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

img {
    object-fit: cover;
}

.card img {
    height: 250px;
}